/* Estilos personalizados para el carousel y sus elementos */
.carousel-inner {
    overflow: hidden; /* Oculta contenido que sobresalga del carousel */
  }

  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(0%); /* Invierte el color del icono para que sea visible en el fondo oscuro */
  }
  
 

  .title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .css-1ktuye1 {
    background-color: #4c607e !important;
  padding:0px !important
  }
  img{
    cursor: pointer;  

  }